{# <form method="post" class="form-register"> #}
<div class="form-register">


{{form_start(registrationForm)}}
	<div class="register-grid2">
		<div class="register-grid3">
			{# <label id="register-title" for="username">Pseudo</label>
			<input type="text" id="username" required placeholder="username"> #}

            {{form_row(registrationForm.username)}}
		</div>
		<div class="register-grid3">
			{# <label class="sexe" for="sexe">
				<span id="register-title">Sexe</span>
				<select name="sexe" id="sexe" required>
					<option value="homme">Homme</option>
					<option value="femme">Femme</option>
				</select>
			</label> #}
            {{form_label(registrationForm.Sexe)}}
            {{form_widget(registrationForm.Sexe)}}
            {{form_help(registrationForm.Sexe)}}
		</div>
	</div>
	<div class="register-grid2">
		<div class="register-grid3">
			{# <label id="register-title" for="password">Mot de Passe</label>
			<input type="text" id="password" required placeholder="password"> #}
            {{form_row(registrationForm.plainPassword)}}
		</div>
		<div class="register-grid3">
          {{form_row(registrationForm.DateNaissance)}}
			{# <label id="register-title" for="date_naissance">Née le</label>
			<input type="date" id="date_naissance" required placeholder="date_naissance"> #}
		</div>
	</div>
	<!-- Vérification email -->
	<div class="register-grid2">
		<div class="register-grid3">
			{# <label id="register-title" for="email1">Email</label>
			<input type="email" id="email1" required placeholder="email"> #}
            {{form_row(registrationForm.email.first)}}
		</div>
		<div class="register-grid3">
                {{form_row(registrationForm.email.second)}}
			{# <label id="register-title" for="email2">Confirmer Email</label>
			<input type="text" id="email2" required placeholder="email"> #}
		</div>
	</div>
	<label for="cgu">
		{# <input type="checkbox">
		<span class="accept-cgu">Je certifie avoir plus de 18ans;<br>Et confirme avoir lu et accepté les conditions
			<a class='register-a' class="cgu" href="#">générale d'utilisation.</a>
		</span> #}

        {{form_row(registrationForm.agreeTerms)}}
	</label>
	<button type="submit" id="rejoindre">Rejoins-Nous!</button>
    {{form_end(registrationForm)}}
    </div>
{# </form> #}
<pre>
    {{ dump(registrationForm) }}
</pre>

