	{% for membre in membres %}
					<div class="profilco">
                         {% if membre.imageprofil != null %}
						<img src="{{ asset('uploads/' ~ membre.imageprofil)}}" alt="profil1" class="profilco_img">
                        {% else %}
                        <img src="{{ asset('image/profil.png')}}" alt="profil1" class="profilco_img">
                        {% endif %}
						<div class="description">
							<div class="prenom">
								<p>{{membre.username}}</p>
								<span></span>
							</div>
							<div class="lieu">
								<p>{{membre.ville}}</p>
								<a href="{{ path('messagerieduo', {'username': app.user.username,'iduser':membre.id})}}"><i class="las la-envelope"></i></a>
                                <a href="{{ path('profil', {'username': membre.username})}}"><i class="las la-eye"></i></a> 
							</div>
						</div>
					</div>

    {% endfor %}