{% extends 'base.html.twig' %}

{% block title %}Messagerie index{% endblock %}

{% block body %}
    <h1>Messagerie index</h1>

   {% for messagerie in messageries %}

           <p>{{ messagerie.username }}</p> 
           <a href="{{ path('messagerieduo',{'username':app.user.username,'iduser':messagerie.id }) }}">Voir le message</a>
            <p>{{messagerie.id}}</p>
      
        {% else %}
           
        {% endfor %}
 	{{ app.user.username }}

 {{ dump( messageries ) }}
    
{% endblock %}
