{% extends 'messagerie/index2.html.twig' %}


{% block body %}


	{% block message %}
		<div class="message">
			{% for message in messages %}

				<div class="container" autofocus>
					<p>{{ message.expediteur.username }}
					</p>
					<p>{{ message.message }}</p>

				</div>


			{% else %}
				<p>oh je suis dessolé mais il y'a pas de message avec cette personne :(</p>
			{% endfor %}
		</div>
{{ form_start(form) }}
{{form_widget(form.message,{'attr' : {'class': 'form-control input-sm chat_input' }})}}
{{ form_end(form) }}
	<button class="btn btnjs btn-primary btn-sm" >Envoyer</button>
	{% endblock %}



	<pre>
        {{ dump(messageries) }}
    </pre>

	<pre>
        {{ dump(userid) }}
    </pre>
	<style>
		.message {

			color: red;

		}
	</style>


	{% block script %}
		<script>
            
			var userid = {{ userid }}
            var urlajax = "{{ path('sendmessage') }}";
		</script>

		<script src="{{asset('js/message.js')}}"></script>
	{% endblock %}


{% endblock %}
